body{
    font-family: Arial, Helvetica, sans-serif;
}
#tabs-container{
    width: 500px;
    margin: 100px auto;
    border: solid 1px black; 
}
#tabs-container .tabs{
    display: flex;
    background-color: #CCC;
}
#tabs-container .tabs .tab,
#tabs-container .tabs .tab button{
    width: 100%;
}
#tabs-container .tabs .tab button{
    background-color: transparent;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}
#tabs-container .tabs-containers .content{
    display: none;
}

#tabs-container .tabs .tab.active-tab{
    background-color: white !important;
}

